<h1>Workout Listing page</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @workouts.each do |workout| %>
      <tr>
        <td><%= workout.title %></td>
        <td><%= workout.description %></td>
        <td><%= link_to 'Show', workout_path(workout) %></td>
        <td><%= link_to 'Delete', workout_path(workout), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
