<h1 class="text-center mt-4">Search Results</h1>

<%= render 'workout' %>

<div class="mb-3 row justify-content-center">
  <%= link_to '[ Return to Workout list ]', workouts_path, class: "text-info" %>
</div>
