
<div id="page-content">
  <div class="container" id="home-container">
    <div class="jumbotron text-center text-white ">
      <h1 class="display-4">Home Fitness</h1>
      <p class="lead">Welcome, you have found our page that is dedicated into helping you get a better life style</p>
      <hr class="my-4">
      <p>This website allows you to get a great workout from the comfort of your own home, our workouts are free and have been created just for you. Use the button below to sign up and start getting fit now!!!</p>
      <%= link_to "Sign up!", signup_path, class: "btn btn-primary btn-info" %>
    </div>
  </div>
</div>
